/* AddEmp.css */

  
  .form {
    
    /* padding: 5px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form table {
    width: 100%;
  }
  
  .form th,
  .form td {
    text-align: center;
    padding: 5px;
  }
  

  
  .error {
    color: red;
  }
  
  /* .button-container {
    text-align: right;
  } */
  
  .btn {
    padding: 10px 20px;
    background-color: #042144;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: white; 
  cursor: pointer;
  color: black;
  }

  /* SearchBar.css */

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;

}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.search-icon {
  padding: 10px 20px;
  background-color: #042144;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}



  