*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
    background-color: silver;
}

.sidebar{
    background: #080444;
    color: #fff;
    height: 100vh;
    width: 25%;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 20px;
    color: silver;
    font-family: Monotype Corsiva;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:silver;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: silver;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
.App-logo {
    height: 20vmin;
    pointer-events:none;
    width: 15vmin;
  }

  .icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
    color: rgb(218, 233, 14);
  }

  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 30px 10px;
    color: rgba(0, 0, 0, 0.95);
    border-radius: 15px;
  }

  .main-title {
    display: flex;
    justify-content: space-between;
  }

  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
    height:120px;

  }

  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-inner > .card_icon {
  font-size: 25px;
}

.card:first-child {

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
    
  }
  
  .card:nth-child(2) {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
  }
  
  .card:nth-child(3) {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
  }
  
  .card:nth-child(4) {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
  }
  
  .backimg{
    background-image: url(./components/bg2.jpg);
    background-size: cover;
    background-repeat: 'no-repeat';
    background-position: 'center';
       
}

.backemp{
  background-image: url(./components/employee.jpg);
  background-size: cover;
  background-repeat: 'no-repeat';
  background-position: 'center';
     
}

.page-title{
  text-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.btnemp{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  background-color:transparent;
  border:1px solid rgba(255, 255, 255, 0.18);
  color: white;
  font-size: 30px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: 'background-color 0.3s, color 0.3s';
  height: 12vmin;
  width: 28vmin;
}

.btn-container{
  display: flex;
  gap: 250px;
  margin: 0px 0;
}


.content-container{
    padding: 50px 0;
    color: rgba(0, 0, 0, 0.95);
}




