/* footer.css */
.footer {
  background-color: #042144; /* Matching color for the footer */
  color: #fff; /* Text color for the footer */
  padding: 20px; /* Add padding for spacing */
}

.footer h3 {
  color: #fff; /* Heading color */
}

.contact-info p {
  margin: 5px 0;
}
