.navbar {
  overflow: hidden;
  background-color: #042144; /* Blueish background color */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif; /* Attractive font family */
}

.company-info {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 40px;
  margin-right: 10px;
}

.company-text {
  display: flex;
  flex-direction: column;
}

.company-name {
  color: #fff; /* White color for company name */
  font-size: 20px; /* Larger font size */
  font-weight: bold;
  margin-bottom: 5px; /* Add some spacing between company name and subtitle */
}

.company-subtitle {
  color: #f2f2f2; /* Light gray color for subtitle */
  font-size: 14px; /* Smaller font size */
  font-style: italic;
}

.nav-links {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff; /* White color for navigation links */
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px; /* Font size for navigation links */
}

.navbar a:hover {
  background-color: #34495e; 
}


.navbar {
  background-color:#042144; 
}

