/*# sourceMappingURL=footer.css.map */


:root{
    --PrimaryColor:hsl(199,100%,33%);
    --SecondaryColor:hsl(187, 85%, 43%);  
    --whiteColor:hsl(0, 0%, 100%);
    --blackColor:hsl(0, 0%, 3%);
    --textColor:rgb(192,192,192);
    --bodyColor:rgb(248, 240, 246);
    --headercolor:rgb(4,33,68);
}


.section_padding{
    padding: 4rem 4rem;
}

.footer{
    background-color: #A9A9A9;
    

}

.sb_footer-links_div img{
    height: 150px;
    width: auto;
}

.sb_footer{
    display: flex;
    flex-direction: column;
}

.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb_footer-links_div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--headercolor);
}

a,p{
    color: var(--whiteColor);
    text-decoration: none;
    font-weight: 600;
    
}

.socialmedia{
    display: flex;
    flex-direction: row;
   
}

.sb_footer-links_div h4{
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.sb_footer-links_div p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb_footer-below-links{
    display: flex;
    flex-direction: row;
}

.sb_footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: var(--whiteColor);
    font-weight: 600;
}

hr{
    color: var(--headercolor) !important ;
    width: 100%;
}

.sb_footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: var(--headercolor);
    font-weight: 600;
}

@media screen and (max-width: 767px) {

    .sb_footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }

    .sb_footer-links div{
        margin: 1rem 0;
    }

    .sb_footer-btn p{
        font-size: 14px;
        line-height: 20px0;
    }

    .sb_footer-below{
        flex-direction: column;
        justify-content: left;
    }

    .sb_footer-below-links{
        flex-direction: column;
    }

    .sb_footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}